body {
    background-color: rgb(3, 11, 34);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tablero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.boton {
    height: 10rem;
    width: 10rem;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}

.jugador {
    padding: 0;
    font-size: 15rem;
    color: aqua;


    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    line-height: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}